@font-face {
	font-family: 'Open sans';

	src: url('../font/OpenSans-Regular.ttf');
	src: url('../font/OpenSans-Italic.ttf');
	src: url('../font/OpenSans-Bold.ttf');
	src: url('../font/OpenSans-BoldItalic.ttf');
}